.productslist{
    display: flex;
    justify-content: left;
    margin-right: 80rem;
    margin-top: 2%;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 241, 240);
}

.productslist:hover{
    box-shadow: 0 8px 16px 0 rgba(7, 7, 7, 0.397);

}


.productslist:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    border-radius: 5px;
;

}
.Checkout{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(240, 241, 240);
border-radius: 10px;
 color: rgb(3, 3, 3);
  padding-top: 10px;
margin-left: 9rem;

}
.Checkout:hover{
    box-shadow: 0 8px 16px 0 rgba(51, 255, 0, 0.521);
}

.img{
border-radius: 10rem;
width: 10rem;

}
.itemname{
   text-align: left;

}
.navbar{
    display: flex;
    color: rgb(0, 182, 0);
    justify-content: space-around;
    background-color: rgb(240, 241, 240);
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.navbar img{
     width: 5rem;
    border-radius: 10rem;
    width: 6rem;

}
.navbar{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.size{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -48rem;
}

.Cart {
    margin-right: 10rem;
    margin-top: 1rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 241, 240);

    margin-left: 2rem;

}
.Cart:hover{
    box-shadow: 0 8px 16px 0 rgba(7, 7, 7, 0.397);
}
.Carth1{
   background-color: rgb(53, 53, 53);
   padding:auto;
   padding-right: 5rem;
   color: #33ff00;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   margin-bottom: 1rem;

}
.Cart button{
    background-color: rgb(0, 255, 0);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    cursor: pointer;
    margin-top: 1rem;

}
.Cart button:hover{
    box-shadow: 0 8px 16px 0 rgba(7, 7, 7, 0.397);
}

.Total{
    padding-bottom: 0%
}